@import 'commom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.custom-logo-size {
    width: 40px;   /* ajusta a lo que necesites */
    height: 40px;
    object-fit: contain; /* mantiene proporción */
}
